<div class="header">
    <div align="center">
        <ul class="navigation-bar">
            <li class="navigation-button left"><a id="etusivu" class="active" href="/">Etusivu</a></li>
            <li class="navigation-button left"><a id="lisaa-vinkki" class="active" href="lisaakirja">Uusi Vinkki</a></li>
            <li class="navigation-button left"><a id="hae-vinkki" class="active" href="haekirja">Hae Vinkki</a></li>
            <li class="navigation-button left"><a id="listaus" class="active" href="vinkkilistaus">Vinkkilistaus</a></li>
            <li class="navigation-button right"><a id="about" class="active" href="about">About</a></li>
        </ul>
    </div>
</div>