<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="kirjanlisays" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="tyylisivu.css">
    </head>
<body>
<ul>
  <!--<li><a href="lisaakirja.html">Lisää lukuvinkki</a></li>-->
 <li style="float:left"><a class="active" href="index.html">Etusivu</a></li>
 <li style="float:left"><a class="active" href="lisaakirja.html">Lisää kirja</a></li>
 <li style="float:left"><a class="active" href="haekirja.html">Etsi kirja</a></li>
 <li style="float:left"><a class="active" href="vinkkilistaus.html">Vinkkilistaus</a></li>
  <li style="float:right"><a class="active" href="about.html">About</a></li>
</ul>
</body>


<form action=""><!--/action_page.php-->
<br>
<br>
  Käyttäjätunnus:<br>
  <input type="text" name="kayttaja" value="kayttaja">
  <br>
<br>
  Salasana:<br>
  <input type="password" name="salasana" value="salasana">
<br>
<br>
  Salasana uudelleen:<br>
  <input type="password" name="salasana" value="salasana">
<br>

<br>

 <!-- <input type="submit" value="Tallenna"> -->
 <button type="button" onclick="alert('Tallennetaan')">Tallenna</button> 
</form> 



</body>
</html>
