<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="vinkkilistaus" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="tyylisivu.css">
    </head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


</style>

<body>
<ul>
  <!--<li><a href="lisaakirja.html">Lisää lukuvinkki</a></li>-->
 <li style="float:left"><a class="active" href="index.html">Etusivu</a></li>
 <li style="float:left"><a class="active" href="lisaakirja.html">Lisää kirja</a></li>
 <li style="float:left"><a class="active" href="haekirja.html">Etsi kirja</a></li>
 <li style="float:left"><a class="active" href="vinkkilistaus.html">Vinkkilistaus</a></li>
  <li style="float:right"><a class="active" href="about.html">About</a></li>
</ul>

<table>
  <tr>
	<th>Kirjoittaja</th>     	
	<th>Otsikko</th>
    	<th>ISBN</th>	
	<th>Tagit</th>
	<th>Luettu</th>
	<th>Milloin</th>
	<th>Kommentit</th>
  </tr>
  <tr>
    	<td>Mika Waltari</td>
    	<td>Mikael Karvajalka</td>
    	<td>ISBN-654656545</td>
	<td>Fiktio, Historia</td>
	<td>kyllä</td>
	<td>1.6.2015</td>
	<td>Loistava keskiajalle sijoittuva veijaritarina!</td> 
<td> <button type="button" onclick="alert('Muokataan tietuetta!')">Muokkaa</button> 
<button type="button" onclick="alert('Haetaan etsimääsi tietoa!')">Poista</button> </td> 
	
  </tr>
  <tr>
    	<td>Mika Waltari</td>
    	<td>Mikael Hakim</td>
    	<td>ISBN-654656546</td>
	<td>Fiktio, Historia</td>
	<td>kyllä</td>
	<td>1.6.2016</td>
	<td>Mikael Karvajalka -teoksen jatko-osa.</td> 
<td><button type="button" onclick="alert('Muokataan tietuetta!')">Muokkaa</button> 
<button type="button" onclick="alert('Haetaan etsimääsi tietoa!')">Poista</button> </td> 
  </tr>
  <tr>
    	<td>Mika Waltari</td>
    	<td>Turms Kuolematon</td>
    	<td>ISBN-654656547</td>
	<td>Fiktio, Historia</td>
	<td>kyllä</td>
	<td>1.6.2013</td>
	<td>Etruskien kulta-aikaan sijoittuva tarina.</td> 
<td> <button type="button" onclick="alert('Muokataan tietuetta!')">Muokkaa</button> 
<button type="button" onclick="alert('Haetaan etsimääsi tietoa!')">Poista</button> </td> 
  </tr>
  <tr>
    	<td>Mika Waltari</td>
    	<td>Sinuhe</td>
    	<td>ISBN-654656500</td>
	<td>Fiktio, Historia</td>
	<td>kyllä</td>
	<td>1.6.2010</td>
	<td>Egyptin faaraoiden aikaak sijoittuva tarina.</td> 
<td> <button type="button" onclick="alert('Muokataan tietuetta!')">Muokkaa</button> 
<button type="button" onclick="alert('Haetaan etsimääsi tietoa!')">Poista</button> </td> 
  </tr>

</table>

</body>
</html>

 



</body>
</html>
