<!DOCTYPE html>

<html>
    <div th:replace="fragments/head">...</div>
	<head><title>About</title></head>
	
 	<body>
		<div th:replace="fragments/navigation">...</div>
        <h3>Tämän tietokantasovelluksen tekijätiimi:</h3>

		<table>
			<tr>
				<td>Dennis</td>
				<td>Ahlfors</td>
			</tr>
			<tr>
				<td>Jaana</td>
				<td>Embrich</td>
			</tr>
			<tr>
				<td>Oliver</td>
				<td>Kaarnalehto</td>
			</tr>
			<tr>
				<td>Mikko</td>
				<td>Laine</td>
			</tr>
			<tr>
				<td>Timo</td>
				<td>Konttinen</td>
			</tr>
		</table>
    </body>    
</html>