<!DOCTYPE html>
<html>

	<div th:replace="fragments/head">...</div>
	<head><title>Hae</title></head>
	<body>
		<div th:replace="fragments/navigation">...</div>

		<div class="haku-lomake">
			<form action="">
				<p>Kirjoittaja:</p>
				<input name="kirjoittaja" type="text" value="kirjoittaja"/>

				<p>Otsikko:</p>
				<input name="otsikko" type="text" value="otsikko"/>

				<p>ISBN</p>
				<input name="isbn" type="text" value="isbn"/>

				<p>Tagit (erota pilkulla):</p>
				<input name="tagit" type="text" value="tagityyppi"/>

				<p>Kommentit:</p>
				<textarea name="kommentit" style="width:400px; height:100px"></textarea>

				<!--<input type="submit" value="Hae">-->
				<button onclick="alert('Haetaan etsimääsi tietoa!')" type="button">Hae</button>
			</form>
		</div>

	</body>
</html>
