<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/head">...</div>
    <head><title>Index/Kirjautuminen</title></head>

    <body>
        <div th:replace="fragments/navigation">...</div>
        <h1>Tervetuloa vinkkilista -alphaan!</h1>
    
        <div class="login-form">
            <form th:action="@{/}" method="post">
                <p>Käyttäjänimi:</p>
                <input name="kayttajanimi" type="text"/>
    
                <p>Salasana:</p>
                <input name="salasana" type="password"/> 
                <p></p>
                <input type="submit" value="Kirjaudu"/>
            </form>
        </div>
    </body>
</html>